.delete-movie-container {
	flex-direction: row;
	margin: 3px;

	.delete-movie-button {
		background-color: #007bff;
		color: white;
		border: none;
		text-decoration: none;
		padding: 2px 2px;
		border-radius: 4px;
		cursor: pointer;
	}
}
