.dialog-conatiner {
	width: 70%;
	display: inline-block;
	margin: 10px;
	border: 1px solid rgb(250, 178, 192);
	border-radius: 10px;
	background-color: floralwhite;

	.dialog-title {
		display: inline-flex;
		flex-direction: row;
		font-size: x-large;
		font-weight: bold;
		padding-left: 10px;
		color: rgb(217 61 61);

		.dialog-button {
			position: absolute;
			font-size: x-large;
			font-weight: bold;
			margin: 1px 1px 40px 300px;
			border: none;
			background-color: floralwhite;
		}
	}
	.dialog-children {
		.delete-movie-confirm-button {
			background-color: #007bff;
			color: white;
			border: none;
			padding: 10px 20px;
			border-radius: 4px;
			cursor: pointer;
			margin: 10px;
		}
	}
}
