.search-form {
	.search-box {
		height: 35px;
		width: 70%;
		margin: 10px;
	}

	.search-button {
		background-color: rgb(217 61 61);
		color: white;
		border: none;
		padding: 10px 20px;
		border-radius: 4px;
		cursor: pointer;
	}
}
