.movie-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  margin: 10px;
}

.movie-poster {
  flex: auto;
  align-items: start;
}

.movie-info {
  flex: auto;
  align-items: end;
}
