.movie-details {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #ccc;
	margin: 10px;

	.movie-poster {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.movie-info {
		display: flex;
		flex-direction: column;
		align-items: center;

		.movie-info-link {
			background-color: rgb(217 61 61);
			margin: 10px;
			color: white;
			border: none;
			padding: 10px 20px;
			border-radius: 4px;
			cursor: pointer;
			text-decoration: none;
		}
	}
}
