.edit-movie-container {
  flex-direction: row;
  margin: 3px;

  .edit-movie-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
}
