.search-box {
    box-sizing: border-box;
    width: 50%;
    height: 35px;
    border: solid; 
    margin: 20px;
}

.search-button {
    width: 100px; 
    height: 35px; 
    border: solid; 
    padding: 1px;
    margin: 1px;
}